beautifulsoup4==4.13.4
Brotli==1.1.0
certifi==2025.7.9
cffi==2.0.0
charset-normalizer==3.4.2
curl_cffi==0.15.0
FlightRadarAPI==1.5.1
idna==3.10
markdown-it-py==4.2.0
mdurl==0.1.2
Pillow==12.2.0
pycparser==3.0
Pygments==2.20.0
requests==2.32.4
rgbmatrix==0.0.1
rich==15.0.0
RPi.GPIO==0.7.1
soupsieve==2.7
typing_extensions==4.14.1
urllib3==2.5.0
